AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://127.0.0.1:10000/devstoreaccount1;QueueEndpoint=http://127.0.0.1:10001/devstoreaccount1;TableEndpoint=http://127.0.0.1:10002/devstoreaccount1;

FEEDBACK_TABLE_NAME=feedbacks
EMAIL_LOG_TABLE_NAME=emaillogs
WEEKLY_REPORT_CONTAINER=relatorios
AZURE_HTTP_TIMEOUT_SECONDS=10

SENDGRID_API_KEY=SG.xxx
NOTIFY_FROM_EMAIL=seu-remetente@seudominio.com
ADMIN_NOTIFY_EMAIL=admin@seudominio.com
SMTP_HOST=smtp.sendgrid.net
SMTP_PORT=587
SMTP_USERNAME=apikey

SEND_CRITICAL_EMAIL_FUNCTION_KEY=
SEND_CRITICAL_EMAIL_URL=
